/* input[type="text"] {
  padding: 6px;
  margin-top: 2rem;
  margin-right: 16px;
  font-size: 17px;
  margin-bottom: 25rem;
  margin-left: 100px;
} */

.Barre {
  padding: 6px;
  font-size: 17px;
}

.container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Titre {
  margin-top: 5rem;
  /* margin-right: 17px; */
  text-transform: uppercase;
  text-align: center;
  text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgba(0, 0, 0, 0.5),
    4px 4px 5px rgba(0, 0, 0, 0.7), 0px 0px 7px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}
.Home {
  text-align: center;
}

.description {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* border: 3px inset #000000;
  width: 600px;
  height: 150px; */
}
